/* .selfie {
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px lightgray;
} */

.about {
  font-size: 50px;
  color: #007944;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-style: italic;
}
.full {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #007944;
  font-size: 16px;
}

.me {
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px black;
}
.computergirl3 {
  width: 350px;
}


.description {
  text-align: center;
  margin: 50px;
  border: 2px solid #f6a7ba;
  background-color: #d2f3e0;
  border-radius: 20px;
  padding: 20px 50px;
  box-shadow: 5px 5px 10px #f6a7ba;
}
.desc {
  padding: 20px 50px;
}

.codingdojo {
  text-align: center;
  margin: 50px;
  border: 2px solid #f6a7ba;
  background-color: #feb9c8;
  border-radius: 20px;
  padding: 20px 50px;
  box-shadow: 5px 5px 10px #f6a7ba;
}
.travel {
  text-align: center;
  margin: 50px;
  border: 2px dotted #f6a7ba;
  background-color: #d2f3e0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px #f6a7ba;
}
.travelcomputer {
  height: 200px;
}
