.contactContainer {
  display: flex;
}

.topbox {
  font-size: 20px;
  color: #007944;
  padding: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20;
  margin-bottom: 20px;
  border: 2px solid #f6a7ba;
  box-shadow: 5px 5px 10px #feb9c8;
  background-color: #d2f3e0;
  border-radius: 20px;
  display: flex;
}
.selfiebox {
  flex: 2;
}
.socialsp {
  flex: 1;
}
.selfie {
  width: 250px;
  border-radius: 20px;
}




