.topbox {
  font-size: 20px;
  color: #007944;
  padding: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #f6a7ba;
  box-shadow: 5px 5px 10px #feb9c8;
  background-color: #d2f3e0;
  border-radius: 20px;
}

.contactContainer {
  display: flex;
}

.header {
  padding: 0;
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.icons {
  text-align: center;
  height: 50px;
  margin: 5px;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}

.icons:hover {
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  box-shadow: 5px 5px 5px #f6a7ba;
}

.icons:active {
  transform: translateY(4px);
}

@keyframes icons {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
